<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert Kilometers to Miles</title>
</head>
<body>
    <br><br>
    <form action="" method="post">
        <!--
            this csrf token is a security feature of Django,
            which must always be included at the top of the <form> tag
        -->
        {% csrf_token %}

        <!--
            this is the Django code for inserting variables passed to HTML templates,
            in this case the form elements
        -->
        {{ form }}

        <p><input type="submit" value="Convert"/></p>
        <br>

        <!-- here we reference the miles variable which is passed in the context dictionary -->
        <p>Miles: {{ miles }}</p>
    </form>
</body>
</html>